{% extends "base.html" %}

{% block body %}
        <!-- Job Detail Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
<div class="container">
<div class="row gy-5 gx-4">
<div class="col-lg-8">
<div class="d-flex align-items-center mb-5">
<div class="text-start ps-4">
<h3 class="mb-3">Engineering Manager</h3>
<span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
<span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
<span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i><u name="salary"></u></span>
</div>
</div>
<div class="mb-5">
<h4 class="mb-3">Job description</h4><p>ob Description
John Holland is all about transforming lives by finding solutions to complex challenges across a wide range of industries including infrastructure, property, rail, building and water projects in Australia, New Zealand and Southeast Asia.


We are looking for an Engineering Manager to join our Rail &amp; Transport Business Unit. As an Engineering Manager, you will be part of our Rail Engineering and Integration (REI) team providing leadership with the delivery of engineering services for our Rail tenders and projects. You will, also be supporting the JH-wide Technology Engineering and Knowledge (TEK) group where there are also opportunities to be a part of engineering management offerings across the wider John Holland portfolio.


Responsibilities of the role include:
-Lead the provision of engineering services across the full engineering lifecycle of the complex railway projects we undertake, through its tendering, delivery and the transition into operations
-Oversee the submission of tenders, preparation of estimates and recommendations regarding engineering procedures and the utilisation of new technology
-Ensure effective provision of engineering services for projects mainly through directing the efforts of Project Engineers, Design Engineers, Rail Systems Subject Matter Experts, Systems Engineers, Systems Assurance specialists and Estimators
-Lead technical aspects of project modification claims where requested and advise on related engineering matters
-Management of engineering teams ensuring projects have the capability and capacity to deliver, manage and coach engineers and foster a high-performance working environment
-Be a member of senior leadership teams including in REI, as well as on projects and tenders.


To be successful in this key role, you must have:
-Degree in Engineering, Science or equivalent degree
-Diploma or Masters in Project Management, Engineering Science or equivalent
-Demonstrated experience in the management of multidisciplinary rail projects and project teams
-Contemporary practices in design, construction and commissioning methodology
-Contractual, legal, commercial, industrial relations and legislative compliance management
-Advanced financial management capability including cost reduction and meeting budgets
-Quantitative and qualitative safety, environment and quality risk management
-Experience in multiple contractual arrangements, including Design &amp; Construct, Alliance, Joint Ventures, Alliances &amp; PPP Contracts


As part of the John Holland team, you help us deliver on our promise to transform lives. Your success is reflected in ours, so we're committed to being an employer of choice. We pride ourselves on having a diverse and inclusive workplace, as different perspectives and ideas will deliver our long-term success. Specifically, within the REI team you will have a central home with the engineering team and ability to influence the approach to be taken across the John Holland portfolio. Career progression can be through the technical aspects of engineering corporate governance or through delivery roles on large and exciting projects.


We'll do all we can to help you develop your skills, and make a difference, right from the start. We have a flexible workplace and focus on all aspects of your physical and mental health and safety. We want you to be with us for the long-term, so providing you with rich career experiences and ongoing development is our priority. Women, Aboriginal and Torres Strait Islander and other minority groups are encouraged to apply.
</p>
</div>
<div class="">
<h4 class="mb-4">Apply For The Job</h4>
<form>
<div class="row g-3">
<div class="col-12 col-sm-6">
<input class="form-control" placeholder="Your Name" type="text"/>
</div>
<div class="col-12 col-sm-6">
<input class="form-control" placeholder="Your Email" type="email"/>
</div>
<div class="col-12 col-sm-6">
<input class="form-control" placeholder="Portfolio Website" type="text"/>
</div>
<div class="col-12 col-sm-6">
<input class="form-control bg-white" type="file"/>
</div>
<div class="col-12">
<textarea class="form-control" placeholder="Coverletter" rows="5"></textarea>
</div>
<div class="col-12">
<button class="btn btn-primary w-100" type="submit">Apply Now</button>
</div>
</div>
</form>
</div>
</div>
<div class="col-lg-4">
<div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
<h4 class="mb-4">Job Summary</h4>
<p><i class="fa fa-angle-right text-primary me-2"></i>Published On: 01 Jan, 2045</p>
<p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: 123 Position</p>
<p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: Full Time</p>
<p><i class="fa fa-angle-right text-primary me-2"></i>Location: New York, USA</p>
</div>
<div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
<h4 class="mb-4">Company Contact</h4>
<p class="m-0">Email: </p>
</div>
</div>
</div>
</div>
</div>
<!-- Job Detail End -->
{% endblock %}